@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.filter-panel {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family:  "Poppins", sans-serif;
    padding-right: 30px;
  }
  
  .filter-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-button {
    width: 200px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }
  
  .filter-button:hover {
    background-color: #0056b3;
  }

  .clear-button {
    width: 200px;
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
  }
  
  .clear-button:hover {
    background-color: lightcoral;
  }

  
  