@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
  }
  
  .login-container {
    width: 300px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-family: "Poppins", sans-serif;
  }
  
  .title{
    color : white;
    font-family: "Poppins", sans-serif;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .admin-login-button {
    display: flex;
    width: 200px;
    margin-top: 10px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
  }
  
  .admin-login-button:hover {
    background-color: #0056b3;
  }